*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy;
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    width: 100vw;
}
nav{
    position: absolute;
    width: 100%;
     
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 8vw;
}
nav h2{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2vw;
}
.nav-2{
    display: flex;
    gap: 2vw;
    
}
.nav-2 h4{
    font-size: 1.3vw;
    font-weight: 520;
    
}
#nav-bottomline{
    background-color: red;
height: 0%;
width: 85%;
    position: absolute;
    bottom: 0%;
    border-bottom: 2px solid #dadada;
}



#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
span{
   font-style: italic;
   text-transform: uppercase;
   font-weight: 600;
}

#page1 h1{
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: -8vw;
    
}
#page1 h3{
    font-size: 3vw;
    font-weight: 450;
}
#page1 p{

    text-align: center;
    font-weight: 400;
    margin: 3vh;
    display: flex;
    justify-content: center;
    line-height: -6vw;
    
   
    
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;

}
#page1-something h4{
    font-size: 1vw;
    font-weight: 400;
    padding: 6px 12px;
    border: 1px solid #afafaf;
    border-radius: 50px;
    margin-top: 5vw;
}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}

#footer{
    height: 20vh;
    width: 100vw;
    background-color: #060505;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

}
#footer h2{
    font-size: 3vw;
    font-weight: 300;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3.5vw;
    text-transform: uppercase;
}